---
http_interactions:
- request:
    method: get
    uri: https://coh3-api.reliclink.com/community/leaderboard/getLeaderboard2?leaderboard_id=2130333&title=coh3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      request-path:
      - "/community/leaderboard/getLeaderboard2"
    body:
      encoding: UTF-8
      string: '{"result":{"code":0, "message":"SUCCESS"},"statGroups":[{"id":9987,"name":"","type":1,"members":[{"profile_id":8586,"name":"/steam/76561198021548017","alias":"Crow","personal_statgroup_id":9987,"xp":3951,"level":3951,"leaderboardregion_id":2074389,"country":"de"}]},{"id":16872,"name":"","type":1,"members":[{"profile_id":71480,"name":"/steam/76561198015935120","alias":"Monti","personal_statgroup_id":16872,"xp":1341,"level":1341,"leaderboardregion_id":2074389,"country":"pl"}]},{"id":19101,"name":"","type":1,"members":[{"profile_id":168228,"name":"/steam/76561198004995461","alias":"Actual
        T.R. The Lieutenant","personal_statgroup_id":19101,"xp":1421,"level":1421,"leaderboardregion_id":2074389,"country":"nl"}]},{"id":95330,"name":"","type":1,"me[...]
