---
http_interactions:
- request:
    method: get
    uri: https://coh3-api.reliclink.com/community/leaderboard/getLeaderboard2?leaderboard_id=2130261&title=coh3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      request-path:
      - "/community/leaderboard/getLeaderboard2"
    body:
      encoding: UTF-8
      string: '{"result":{"code":0, "message":"SUCCESS"},"statGroups":[{"id":16990,"name":"","type":1,"members":[{"profile_id":166828,"name":"/steam/76561198085128959","alias":"Jelly
        Bean","personal_statgroup_id":16990,"xp":1701,"level":1701,"leaderboardregion_id":2074441,"country":"za"}]},{"id":108866,"name":"","type":1,"members":[{"profile_id":153982,"name":"/steam/76561198296366983","alias":"tagilla","personal_statgroup_id":108866,"xp":2331,"level":2331,"leaderboardregion_id":2074438,"country":"ar"}]},{"id":49316,"name":"","type":1,"members":[{"profile_id":17928,"name":"/steam/76561198092998893","alias":"vwvc","personal_statgroup_id":49316,"xp":4081,"level":4081,"leaderboardregion_id":2074437,"country":"cn"}]},{"id":96668,"name":"","type":1,"members":[{"profile_id":1109[...]
