---
http_interactions:
- request:
    method: get
    uri: https://coh3-api.reliclink.com/community/leaderboard/getLeaderboard2?count=100&leaderboard_id=2130302&sortBy=1&start=1&title=coh3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      request-path:
      - "/community/leaderboard/getLeaderboard2"
    body:
      encoding: UTF-8
      string: "{\"result\":{\"code\":0, \"message\":\"SUCCESS\"},\"statGroups\":[{\"id\":98848,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":29533,\"name\":\"/steam/76561198361563102\",\"alias\":\"【IRS】MP40\",\"personal_statgroup_id\":98848,\"xp\":1611,\"level\":1611,\"leaderboardregion_id\":2074437,\"country\":\"cn\"}]},{\"id\":42367,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":20494,\"name\":\"/steam/76561197989449735\",\"alias\":\"Ted
        'Seaman' Silk\",\"personal_statgroup_id\":42367,\"xp\":1561,\"level\":1561,\"leaderboardregion_id\":2074389,\"country\":\"dk\"}]},{\"id\":26839,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":1218,\"name\":\"/steam/76561198062551935\",\"alias\":\"Drink||Scotch\",\"personal_statgroup_id\":26839,\"xp\":2891,\"level\":2891,\"leaderboardregion_id\":2[...]
