---
http_interactions:
- request:
    method: get
    uri: https://coh3-api.reliclink.com/community/leaderboard/getLeaderboard2?count=100&leaderboard_id=2130331&sortBy=1&start=1&title=coh3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      request-path:
      - "/community/leaderboard/getLeaderboard2"
    body:
      encoding: UTF-8
      string: '{"result":{"code":0, "message":"SUCCESS"},"statGroups":[{"id":26839,"name":"","type":1,"members":[{"profile_id":1218,"name":"/steam/76561198062551935","alias":"Drink||Scotch","personal_statgroup_id":26839,"xp":2891,"level":2891,"leaderboardregion_id":2074389,"country":"fr"}]},{"id":4693,"name":"","type":1,"members":[{"profile_id":75645,"name":"/steam/76561198155467585","alias":"①
        Janko ★","personal_statgroup_id":4693,"xp":4271,"level":4271,"leaderboardregion_id":2074389,"country":"pl"}]},{"id":135289,"name":"","type":1,"members":[{"profile_id":254862,"name":"/steam/76561198868017971","alias":"dube116","personal_statgroup_id":135289,"xp":2011,"level":2011,"leaderboardregion_id":2074437,"country":"tw"}]},{"id":23321,"name":"","type":1,"members":[{"profi[...]
