---
http_interactions:
- request:
    method: get
    uri: https://coh3-api.reliclink.com/community/leaderboard/getLeaderboard2?count=100&leaderboard_id=2130335&sortBy=1&start=1&title=coh3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      request-path:
      - "/community/leaderboard/getLeaderboard2"
    body:
      encoding: UTF-8
      string: '{"result":{"code":0, "message":"SUCCESS"},"statGroups":[{"id":330966,"name":"","type":1,"members":[{"profile_id":429166,"name":"/steam/76561199304103156","alias":"八轮侠","personal_statgroup_id":330966,"xp":2111,"level":2111,"leaderboardregion_id":2074437,"country":"cn"}]},{"id":7687,"name":"","type":1,"members":[{"profile_id":1006,"name":"/steam/76561198005283380","alias":"Evalance","personal_statgroup_id":7687,"xp":3291,"level":3291,"leaderboardregion_id":2074390,"country":"us"}]},{"id":160120,"name":"","type":1,"members":[{"profile_id":275763,"name":"/steam/76561198095517545","alias":"Kilder","personal_statgroup_id":160120,"xp":1901,"level":1901,"leaderboardregion_id":2074389,"country":"fr"}]},{"id":23321,"name":"","type":1,"members":[{"profile_id":1709[...]
