---
http_interactions:
- request:
    method: get
    uri: https://coh3-api.reliclink.com/community/leaderboard/getLeaderboard2?count=100&leaderboard_id=2130306&sortBy=1&start=1&title=coh3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      request-path:
      - "/community/leaderboard/getLeaderboard2"
    body:
      encoding: UTF-8
      string: "{\"result\":{\"code\":0, \"message\":\"SUCCESS\"},\"statGroups\":[{\"id\":39353,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":181674,\"name\":\"/steam/76561198386339370\",\"alias\":\"Luckeeey\",\"personal_statgroup_id\":39353,\"xp\":4601,\"level\":4601,\"leaderboardregion_id\":2074389,\"country\":\"de\"}]},{\"id\":7687,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":1006,\"name\":\"/steam/76561198005283380\",\"alias\":\"Evalance\",\"personal_statgroup_id\":7687,\"xp\":3291,\"level\":3291,\"leaderboardregion_id\":2074390,\"country\":\"us\"}]},{\"id\":1186,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":1257,\"name\":\"/steam/76561198006176278\",\"alias\":\"Duffman™\",\"personal_statgroup_id\":1186,\"xp\":1381,\"level\":1381,\"leaderboardregion_id\":2074389,\"country\":\"no\"}][...]
