---
http_interactions:
- request:
    method: get
    uri: https://coh3-api.reliclink.com/community/leaderboard/getLeaderboard2?count=100&leaderboard_id=2130353&sortBy=1&start=1&title=coh3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      request-path:
      - "/community/leaderboard/getLeaderboard2"
    body:
      encoding: UTF-8
      string: '{"result":{"code":0, "message":"SUCCESS"},"statGroups":[{"id":92100,"name":"","type":1,"members":[{"profile_id":40020,"name":"/steam/76561198057559024","alias":"晴天小怪兽","personal_statgroup_id":92100,"xp":3951,"level":3951,"leaderboardregion_id":2074437,"country":"cn"}]},{"id":49316,"name":"","type":1,"members":[{"profile_id":17928,"name":"/steam/76561198092998893","alias":"vwvc","personal_statgroup_id":49316,"xp":4081,"level":4081,"leaderboardregion_id":2074437,"country":"cn"}]},{"id":4693,"name":"","type":1,"members":[{"profile_id":75645,"name":"/steam/76561198155467585","alias":"①
        Janko ★","personal_statgroup_id":4693,"xp":4271,"level":4271,"leaderboardregion_id":2074389,"country":"pl"}]},{"id":9987,"name":"","type":1,"members":[{"profile_id":[...]
