---
http_interactions:
- request:
    method: get
    uri: https://coh3-api.reliclink.com/community/leaderboard/getLeaderboard2?leaderboard_id=2130331&title=coh3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      request-path:
      - "/community/leaderboard/getLeaderboard2"
    body:
      encoding: UTF-8
      string: "{\"result\":{\"code\":0, \"message\":\"SUCCESS\"},\"statGroups\":[{\"id\":9987,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":8586,\"name\":\"/steam/76561198021548017\",\"alias\":\"Crow\",\"personal_statgroup_id\":9987,\"xp\":3951,\"level\":3951,\"leaderboardregion_id\":2074389,\"country\":\"de\"}]},{\"id\":6235,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":45625,\"name\":\"/steam/76561198122485474\",\"alias\":\"D.Hipper\",\"personal_statgroup_id\":6235,\"xp\":761,\"level\":761,\"leaderboardregion_id\":2074437,\"country\":\"cn\"}]},{\"id\":9062,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":6840,\"name\":\"/steam/76561198349649117\",\"alias\":\"嘉然今晚吃台风扫射\",\"personal_statgroup_id\":9062,\"xp\":4251,\"level\":4251,\"leaderboardregion_id\":2074437,\"country\":\"cn\"}][...]
