---
http_interactions:
- request:
    method: get
    uri: https://coh3-api.reliclink.com/community/leaderboard/getLeaderboard2?leaderboard_id=2130257&title=coh3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      request-path:
      - "/community/leaderboard/getLeaderboard2"
    body:
      encoding: UTF-8
      string: '{"result":{"code":0, "message":"SUCCESS"},"statGroups":[{"id":44302,"name":"","type":1,"members":[{"profile_id":13767,"name":"/steam/76561198026527194","alias":"EL
        ZULU","personal_statgroup_id":44302,"xp":1751,"level":1751,"leaderboardregion_id":2074390,"country":"us"}]},{"id":16990,"name":"","type":1,"members":[{"profile_id":166828,"name":"/steam/76561198085128959","alias":"Jelly
        Bean","personal_statgroup_id":16990,"xp":1701,"level":1701,"leaderboardregion_id":2074441,"country":"za"}]},{"id":66453,"name":"","type":1,"members":[{"profile_id":201609,"name":"/steam/76561198844369256","alias":"Brits
        Unplayable-Give Sniper","personal_statgroup_id":66453,"xp":2041,"level":2041,"leaderboardregion_id":2074390,"country":"us"}]},{"id":5022,"name":[...]
