---
http_interactions:
- request:
    method: get
    uri: https://coh3-api.reliclink.com/community/leaderboard/getLeaderboard2?count=100&leaderboard_id=2130255&sortBy=1&start=1&title=coh3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      request-path:
      - "/community/leaderboard/getLeaderboard2"
    body:
      encoding: UTF-8
      string: "{\"result\":{\"code\":0, \"message\":\"SUCCESS\"},\"statGroups\":[{\"id\":44302,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":13767,\"name\":\"/steam/76561198026527194\",\"alias\":\"EL
        ZULU\",\"personal_statgroup_id\":44302,\"xp\":1751,\"level\":1751,\"leaderboardregion_id\":2074390,\"country\":\"us\"}]},{\"id\":66453,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":201609,\"name\":\"/steam/76561198844369256\",\"alias\":\"Brits
        Unplayable-Give Sniper\",\"personal_statgroup_id\":66453,\"xp\":2041,\"level\":2041,\"leaderboardregion_id\":2074390,\"country\":\"us\"}]},{\"id\":108866,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":153982,\"name\":\"/steam/76561198296366983\",\"alias\":\"tagilla\",\"personal_statgroup_id\":108866,\"xp\":2331,\"level\":2331,\"leaderboardreg[...]
