---
http_interactions:
- request:
    method: get
    uri: https://coh3-api.reliclink.com/community/leaderboard/getLeaderboard2?count=100&leaderboard_id=2130304&sortBy=1&start=1&title=coh3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      request-path:
      - "/community/leaderboard/getLeaderboard2"
    body:
      encoding: UTF-8
      string: "{\"result\":{\"code\":0, \"message\":\"SUCCESS\"},\"statGroups\":[{\"id\":26839,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":1218,\"name\":\"/steam/76561198062551935\",\"alias\":\"Drink||Scotch\",\"personal_statgroup_id\":26839,\"xp\":2891,\"level\":2891,\"leaderboardregion_id\":2074389,\"country\":\"fr\"}]},{\"id\":95052,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":87947,\"name\":\"/steam/76561198044914223\",\"alias\":\"woshinoob\",\"personal_statgroup_id\":95052,\"xp\":4181,\"level\":4181,\"leaderboardregion_id\":2074390,\"country\":\"us\"}]},{\"id\":124669,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":103136,\"name\":\"/steam/76561198006574224\",\"alias\":\"LaurenFrost\",\"personal_statgroup_id\":124669,\"xp\":1351,\"level\":1351,\"leaderboardregion_id\":2074437,\"count[...]
