---
http_interactions:
- request:
    method: get
    uri: https://coh3-api.reliclink.com/community/leaderboard/getLeaderboard2?leaderboard_id=2130358&title=coh3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      request-path:
      - "/community/leaderboard/getLeaderboard2"
    body:
      encoding: UTF-8
      string: "{\"result\":{\"code\":0, \"message\":\"SUCCESS\"},\"statGroups\":[{\"id\":200509,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":310864,\"name\":\"/steam/76561198063675671\",\"alias\":\"~TAB~
        Event Horizon\",\"personal_statgroup_id\":200509,\"xp\":2471,\"level\":2471,\"leaderboardregion_id\":2074390,\"country\":\"us\"}]},{\"id\":49318,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":1350,\"name\":\"/steam/76561197995647077\",\"alias\":\"OKW™GunFuck\",\"personal_statgroup_id\":49318,\"xp\":1511,\"level\":1511,\"leaderboardregion_id\":2074389,\"country\":\"de\"}]},{\"id\":49316,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":17928,\"name\":\"/steam/76561198092998893\",\"alias\":\"vwvc\",\"personal_statgroup_id\":49316,\"xp\":4081,\"level\":4081,\"leaderboardregion_id\":2074437,\"country\":\"cn[...]
