---
http_interactions:
- request:
    method: get
    uri: https://coh3-api.reliclink.com/community/leaderboard/getLeaderboard2?leaderboard_id=2130304&title=coh3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      request-path:
      - "/community/leaderboard/getLeaderboard2"
    body:
      encoding: UTF-8
      string: "{\"result\":{\"code\":0, \"message\":\"SUCCESS\"},\"statGroups\":[{\"id\":9987,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":8586,\"name\":\"/steam/76561198021548017\",\"alias\":\"Crow\",\"personal_statgroup_id\":9987,\"xp\":3951,\"level\":3951,\"leaderboardregion_id\":2074389,\"country\":\"de\"}]},{\"id\":130313,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":250830,\"name\":\"/steam/76561197985755014\",\"alias\":\"PABLO\",\"personal_statgroup_id\":130313,\"xp\":1971,\"level\":1971,\"leaderboardregion_id\":2074389,\"country\":\"de\"}]},{\"id\":124669,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":103136,\"name\":\"/steam/76561198006574224\",\"alias\":\"LaurenFrost\",\"personal_statgroup_id\":124669,\"xp\":1351,\"level\":1351,\"leaderboardregion_id\":2074437,\"countr[...]
