---
http_interactions:
- request:
    method: get
    uri: https://coh3-api.reliclink.com/community/leaderboard/getLeaderboard2?count=100&leaderboard_id=2130261&sortBy=1&start=1&title=coh3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      request-path:
      - "/community/leaderboard/getLeaderboard2"
    body:
      encoding: UTF-8
      string: '{"result":{"code":0, "message":"SUCCESS"},"statGroups":[{"id":16990,"name":"","type":1,"members":[{"profile_id":166828,"name":"/steam/76561198085128959","alias":"Jelly
        Bean","personal_statgroup_id":16990,"xp":1701,"level":1701,"leaderboardregion_id":2074441,"country":"za"}]},{"id":39353,"name":"","type":1,"members":[{"profile_id":181674,"name":"/steam/76561198386339370","alias":"Luckeeey","personal_statgroup_id":39353,"xp":4601,"level":4601,"leaderboardregion_id":2074389,"country":"de"}]},{"id":108866,"name":"","type":1,"members":[{"profile_id":153982,"name":"/steam/76561198296366983","alias":"tagilla","personal_statgroup_id":108866,"xp":2331,"level":2331,"leaderboardregion_id":2074438,"country":"ar"}]},{"id":49316,"name":"","type":1,"members":[{"profile_id"[...]
