---
http_interactions:
- request:
    method: get
    uri: https://coh3-api.reliclink.com/community/leaderboard/getLeaderboard2?leaderboard_id=2130300&title=coh3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      request-path:
      - "/community/leaderboard/getLeaderboard2"
    body:
      encoding: UTF-8
      string: "{\"result\":{\"code\":0, \"message\":\"SUCCESS\"},\"statGroups\":[{\"id\":44302,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":13767,\"name\":\"/steam/76561198026527194\",\"alias\":\"EL
        ZULU\",\"personal_statgroup_id\":44302,\"xp\":1751,\"level\":1751,\"leaderboardregion_id\":2074390,\"country\":\"us\"}]},{\"id\":49316,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":17928,\"name\":\"/steam/76561198092998893\",\"alias\":\"vwvc\",\"personal_statgroup_id\":49316,\"xp\":4081,\"level\":4081,\"leaderboardregion_id\":2074437,\"country\":\"cn\"}]},{\"id\":9987,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":8586,\"name\":\"/steam/76561198021548017\",\"alias\":\"Crow\",\"personal_statgroup_id\":9987,\"xp\":3951,\"level\":3951,\"leaderboardregion_id\":2074389,\"country\":\"de\"}]},{\"[...]
