---
http_interactions:
- request:
    method: get
    uri: https://coh3-api.reliclink.com/community/leaderboard/getLeaderboard2?leaderboard_id=2130356&title=coh3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      request-path:
      - "/community/leaderboard/getLeaderboard2"
    body:
      encoding: UTF-8
      string: '{"result":{"code":0, "message":"SUCCESS"},"statGroups":[{"id":290104,"name":"","type":1,"members":[{"profile_id":391125,"name":"/steam/76561198399566754","alias":"JIANHU","personal_statgroup_id":290104,"xp":2431,"level":2431,"leaderboardregion_id":2074437,"country":"jp"}]},{"id":49318,"name":"","type":1,"members":[{"profile_id":1350,"name":"/steam/76561197995647077","alias":"OKW™GunFuck","personal_statgroup_id":49318,"xp":1511,"level":1511,"leaderboardregion_id":2074389,"country":"de"}]},{"id":16872,"name":"","type":1,"members":[{"profile_id":71480,"name":"/steam/76561198015935120","alias":"Monti","personal_statgroup_id":16872,"xp":1341,"level":1341,"leaderboardregion_id":2074389,"country":"pl"}]},{"id":9062,"name":"","type":1,"members":[{"profile_id":6840[...]
