---
http_interactions:
- request:
    method: get
    uri: https://coh3-api.reliclink.com/community/leaderboard/getLeaderboard2?leaderboard_id=2130335&title=coh3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      request-path:
      - "/community/leaderboard/getLeaderboard2"
    body:
      encoding: UTF-8
      string: "{\"result\":{\"code\":0, \"message\":\"SUCCESS\"},\"statGroups\":[{\"id\":49316,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":17928,\"name\":\"/steam/76561198092998893\",\"alias\":\"vwvc\",\"personal_statgroup_id\":49316,\"xp\":4081,\"level\":4081,\"leaderboardregion_id\":2074437,\"country\":\"cn\"}]},{\"id\":7687,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":1006,\"name\":\"/steam/76561198005283380\",\"alias\":\"Evalance\",\"personal_statgroup_id\":7687,\"xp\":3291,\"level\":3291,\"leaderboardregion_id\":2074390,\"country\":\"us\"}]},{\"id\":9062,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":6840,\"name\":\"/steam/76561198349649117\",\"alias\":\"嘉然今晚吃台风扫射\",\"personal_statgroup_id\":9062,\"xp\":4251,\"level\":4251,\"leaderboardregion_id\":2074437,\"country\":\"cn\"}[...]
