---
http_interactions:
- request:
    method: get
    uri: https://coh3-api.reliclink.com/community/leaderboard/getLeaderboard2?leaderboard_id=2130306&title=coh3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      request-path:
      - "/community/leaderboard/getLeaderboard2"
    body:
      encoding: UTF-8
      string: "{\"result\":{\"code\":0, \"message\":\"SUCCESS\"},\"statGroups\":[{\"id\":98848,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":29533,\"name\":\"/steam/76561198361563102\",\"alias\":\"【IRS】MP40\",\"personal_statgroup_id\":98848,\"xp\":1611,\"level\":1611,\"leaderboardregion_id\":2074437,\"country\":\"cn\"}]},{\"id\":130313,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":250830,\"name\":\"/steam/76561197985755014\",\"alias\":\"PABLO\",\"personal_statgroup_id\":130313,\"xp\":1971,\"level\":1971,\"leaderboardregion_id\":2074389,\"country\":\"de\"}]},{\"id\":7687,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":1006,\"name\":\"/steam/76561198005283380\",\"alias\":\"Evalance\",\"personal_statgroup_id\":7687,\"xp\":3291,\"level\":3291,\"leaderboardregion_id\":2074390,\"country\":\"us\[...]
