---
http_interactions:
- request:
    method: get
    uri: https://coh3-api.reliclink.com/community/leaderboard/getLeaderboard2?count=100&leaderboard_id=2130358&sortBy=1&start=1&title=coh3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      request-path:
      - "/community/leaderboard/getLeaderboard2"
    body:
      encoding: UTF-8
      string: "{\"result\":{\"code\":0, \"message\":\"SUCCESS\"},\"statGroups\":[{\"id\":200509,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":310864,\"name\":\"/steam/76561198063675671\",\"alias\":\"~TAB~
        Event Horizon\",\"personal_statgroup_id\":200509,\"xp\":2471,\"level\":2471,\"leaderboardregion_id\":2074390,\"country\":\"us\"}]},{\"id\":4693,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":75645,\"name\":\"/steam/76561198155467585\",\"alias\":\"①
        Janko ★\",\"personal_statgroup_id\":4693,\"xp\":4271,\"level\":4271,\"leaderboardregion_id\":2074389,\"country\":\"pl\"}]},{\"id\":16872,\"name\":\"\",\"type\":1,\"members\":[{\"profile_id\":71480,\"name\":\"/steam/76561198015935120\",\"alias\":\"Monti\",\"personal_statgroup_id\":16872,\"xp\":1341,\"level\":1341,\"leaderboardregion_id\":2074389,\"country\[...]
