---
http_interactions:
- request:
    method: get
    uri: https://coh3-api.reliclink.com/community/leaderboard/getPersonalStat?aliases=%5B%22Inverse%22%5D&title=coh3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      request-path:
      - "/community/leaderboard/getPersonalStat"
    body:
      encoding: UTF-8
      string: '{"result":{"code":0, "message":"SUCCESS"},"statGroups":[{"id":58843,"name":"","type":1,"members":[{"profile_id":195876,"name":"/steam/76561198042682802","alias":"Inverse","personal_statgroup_id":58843,"xp":0,"level":1,"leaderboardregion_id":2074437,"country":"kr"}]},{"id":3408,"name":"","type":1,"members":[{"profile_id":8230,"name":"/steam/76561197999799366","alias":"Inverse","personal_statgroup_id":3408,"xp":1491,"level":1491,"leaderboardregion_id":2074390,"country":"ca"}]},{"id":129818,"name":"","type":1,"members":[{"profile_id":94352,"name":"/steam/76561197989825496","alias":"Inverse","personal_statgroup_id":129818,"xp":761,"level":761,"leaderboardregion_id":2074389,"country":"gb"}]}],"leaderboardStats":[{"statgroup_id":3408,"leaderboard_id":2130255,"wins":44,"losses":21,"streak":3,"disputes":0,"drops":0,"rank":106,"ranktotal":2569,"ranklevel":11,"rating":1348,"regionrank":32,"regionranktotal":880,"lastmatchdate":1681431930},{"statgroup_id":3408,"leaderboard_id":2130261,"wins":39,"losses":14,"streak":13,"disputes":0,"drops":0,"rank":83,"ranktotal":2605,"ranklevel":12,"rating":1370,"regionrank":12,"regionranktotal":605,"lastmatchdate":1681430020},{"statgroup_id":3408,"leaderboard_id":2130257,"wins":33,"losses":11,"streak":2,"disputes":0,"drops":0,"rank":152,"ranktotal":2121,"ranklevel":11,"rating":1348,"regionrank":34,"regionranktotal":551,"lastmatchdate":1681432771},{"statgroup_id":3408,"leaderboard_id":[...]
