---
http_interactions:
- request:
    method: get
    uri: https://coh3-api.reliclink.com/community/leaderboard/getRecentMatchHistoryByProfileId?profile_id=-1&title=coh3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      request-path:
      - "/community/leaderboard/getRecentMatchHistoryByProfileId"
    body:
      encoding: UTF-8
      string: '{"result":{"code":0, "message":"SUCCESS"},"matchHistoryStats":[],"profiles":[]}'
  recorded_at: Sun, 11 Jun 2023 18:12:56 GMT
recorded_with: VCR 6.1.0
